@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700;900&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sofia Sans Condensed', sans-serif; */
  font-family: 'math',sans-serif;
}
:root {
  --color-bg: black;
  --color-bg-variant: #687980;
  --color-primary: #e0e4eb;
  --color-primary-variant: #e0e4eb;
  --color-white: #e0e4eb;
  /* --color-light: rgba(255, 255, 255, 0.6); */
  --color-light:#e0e4eb;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
body{
  background: black;
}

div,h1,h4,p,a{
  color:aliceblue;
}

a{
  text-decoration: none;
}
section {
  margin-top: 8rem;
  /* height: 100vh; */
}
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}


.btn {
  width: max-content;
  /* width: 10rem; */
  display: inline-block;
  color: white;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid white;
  /* transition: var(--transition); */
}

.btn:hover {
  background: #687980;
  color: white;
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}